* {
 margin:0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background:url('../assets/background.jpg');
 background-color: #535A6C;
 background-repeat:no-repeat;
 background-size:cover;
 color: white;
 font-weight: normal;
 font-family: helvetica, arial, sans-serif;
 font-size: 16px;
 line-height: 4em;
}
section {
         margin: 300px 0 0 100px;
}

hr {
       border-color: #e66060;
       width: 40px;
}

p {
}

