* {
 margin:0;
 padding: 0;
 box-sizing:border-box;
}
body {
	color: #222;
	font-family: 'Oswald', sans-serif;	
}
header { background: #D6D5D3; }
nav {
	font-size: 20px;
	font-weight:700;
	float:right;
}
h1 {
	font-size:3em;
	margin:50px auto;
	text-align:center;
}	
h2 {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 200%;
	padding: 0 0 1em;
	text-align:center;
	border-image:url('images/deco.png') 0 0 100 0;
}
h3 {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 200%;
	font-weight: 70px;
	padding: 1em 0;
	text-align: center;
}
h4 {
	font-family: 'Raleway', bold, sans-serif;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 125%;
	padding: 0 2em;
	text-align: justify;
}
a {
	color: #222;
}
nav a {
	color: #222;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}
img { }
header img {
	display:block;
	float:left;
}
#hphoto {
	background:url('../images/homepage.JPG') no-repeat;
	background-size:cover;
	height:100vh;
}
#hphoto div {
	background:rgba(231, 126, 35, 0.8);
	border-radius:1em;
	color:#fff;
	padding:2em;
	position:absolute; right:10%; top:50%;
}
#hphoto h1, #hphoto p {
	margin:0;
	padding:0;
}
#wedding {
	background:rgba(214, 213, 211, 0.8);
	border-radius:1em;
}
#wedding div {
	float: left;
	width: 50%;
	padding: 0 2em;
}
#wedding div img {
	width:100%;
}
#programme {
	background:url('../images/pimage.JPG') no-repeat;
	background-size:cover;
	height:50vh;
}
#travel {
	background:rgba(35, 197, 231, 0.8);
	border-radius:1em;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




