* {
 margin:0;
 padding: 0;
 box-sizing:border-box;
}
body {
	color: #222;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}
header { 
	background: #D6D5D3;
	position:fixed;top:0;left:0;right:0;
	z-index:2;
}
nav {
	font-size: 1.25em;
	font-weight:700;
	float:right;
}
h1 {
	font-size:3em;
	margin:3em auto;
	text-align:center;
}	
h2 {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 2em;
	padding: 0;
	text-align:center;
}
h3 {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin: 1em 0 0;
}
h4 {
	font-family: 'Raleway', bold, sans-serif;
	font-size: 1em;
}
p {
	font-family: 'Poiret One', cursive, sans-serif;
	text-align: justify;
}
a {
	color: #222;
}
nav a {
	color: #222;
	text-decoration: none;
	display: inline-block;
	padding: .5em;
}
img { }
header img {
	display:block;
	float:left;
}
img.deco { 
	display:block;
	margin:0 auto;
}
#hphoto {
	background:url('../images/homepage.JPG') no-repeat;
	background-size:cover;
	height:100vh;
}
#hphoto div {
	background:rgba(231, 126, 35, 0.8);
	border-radius:1em;
	color:#fff;
	padding:2em;
	position:absolute; right:10%; top:50%;
	z-index:1;
}
#hphoto h1, #hphoto p {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 3em;
	margin:0;
	padding:0;
}
#hphoto p {
	font-size: 1.5em;
	position: center;
}
#wedding {
	background: #D6D5D3;
	padding: 50 0 50 0;
}
#wedding div {
	float: left;
	width: 50%;
	padding: 0 2em;
}
#wedding div img {
	width:100%;
}
#programme {
	background:url('../images/pimage.jpg') bottom no-repeat;
	background-size: cover;
	padding:3em;
}
#ceremony {
	float:right;
	width:50%;
}
#ceremony p {
	margin: 1em 0 0 0;
}
#travel {
	background: #D6D5D3;
	padding: 30 0 50 0;
}
#travel div {
	float:left;
	width:33.33%;
	margin: 0;
	padding:1em;
}
#travel p{
	margin: 10 0 0 0;
}
#accommodation {
	background:url('../images/wcd.jpg') bottom no-repeat;
	background-size: cover;
	padding:3em;
}
#accommodation div{
	float: right;
	width: 45%;
}
#accommodation p{
	padding: 20 0 0 0;
}
#contact {
	background: #D6D5D3;
}
#contact h3{
	float: left;
	margin: 20 0 0 50;
}
#contact div{
	font-family: "Oswald" bold;
	margin: 70 0 0 60;
	padding: 0 0 30 0;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/***************
  Hamburger Menu
 ***************/
.mobile-nav {
	display:none;
}
.menu-btn {
	background:#03A9F4;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	padding:1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 2em;
	height: .25em;
	margin: .25em 0;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
	background:#81D4FA;
	padding:1em;
}
.responsive-menu ul {
	list-style-type:none;
}
  

@media only screen and (min-width:940px) and (max-width:1122px) {
	.mobile-nav {
		display:block;
	}
	nav { display:none; }
	header img { float:right; }
	#travel div {
		float:none;
		margin:0 auto;
		width:50%;
	}
}
@media only scree and (max-width:939px) {
	.mobile-nav {
		display:block;
	}
	nav { display:none; }
	header img { float:right; }
	#travel div {
		float:none;
		margin:0 auto;
		width:50%;
	}
	#accommodation {
		width:50%;
	}
}




