* {
 margin:0;
 padding: 0;
 box-sizing:border-box;
}
body {
	color: #222;
	font-family: 'Oswald', sans-serif;	
}
header { 
	background: #D6D5D3;
	position:fixed;top:0;left:0;right:0;
	z-index:2;
}
nav {
	font-size: 20px;
	font-weight:700;
	float:right;
}
h1 {
	font-size:3em;
	margin:50px auto;
	text-align:center;
}	
h2 {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 2em;
	padding: 0;
	text-align:center;
}
h3 {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin: 1em 0 0;
	text-align: center;
}
h4 {
	font-family: 'Raleway', bold, sans-serif;
	font-size: 1em;
	padding: 20px;
}
p {
	font-family: 'Indie Flower', cursive, sans-serif;
	font-size: 100%;
	padding: 0 2em;
	text-align: justify;
}
a {
	color: #222;
}
nav a {
	color: #222;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}
img { }
header img {
	display:block;
	float:left;
}
img.deco { 
	display:block;
	margin:0 auto;
}
#hphoto {
	background:url('../images/homepage.JPG') no-repeat;
	background-size:cover;
	height:100vh;
}
#hphoto div {
	background:rgba(231, 126, 35, 0.8);
	border-radius:1em;
	color:#fff;
	padding:2em;
	position:absolute; right:10%; top:50%;
	z-index:1;
}
#hphoto h1, #hphoto p {
	font-family: 'PT Serif', bold, sans-serif;
	font-size: 300%;
	margin:0;
	padding:0;
}
#hphoto p {
	font-size: 150%;
	position: center;
}
#wedding {
	background: #D6D5D3;
	padding: 50 0 50 0;
}
#wedding div {
	float: left;
	width: 50%;
	padding: 0 2em;
}
#wedding div img {
	width:100%;
}
#programme {
	background:url('../images/pimage.jpg') bottom no-repeat;
	background-size: cover;
	padding:3em;
}
#ceremony {
	float:right;
	width:50%;
}
#ceremony p {
	margin: 20 0 0 0;
}
#travel {
	background: #D6D5D3;
	padding: 30 0 50 0;
}
#travel div {
	float:left;
	width:33.33%;
	margin: 30 0 0 0;
}
#travel p{
	margin: 10 0 0 0;
}
#accommodation {
	background:url('../images/aimage.jpg') bottom no-repeat;
	background-size: cover;
	padding:3em;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




