* {
 margin:0;
 padding: 0;
 box-sizing:border-box;
}
* + * {
	margin-top:20px;
}
body {
	background:url('../assets/beetroot.jpg') no-repeat;
	background-size: cover;
	color:#333;
	font-family: helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
}
section {
	margin: 100px 0 50px 55%;
	max-width:300px;
}
img {
	margin:20px; 
}

h1 {
	font-family:'Merriweather', serif;
	font-weight:900;
	font-size: 2em;
	line-height:1.25em;
	text-transform: uppercase;
	text-align: center;
}

p { 
	font-size: 20px;
	font-style: bold;
	text-align: center;
	padding: 1em;
}

a {
	border:3px solid #333;
	display:block;
	color:#333;
	font-size:2em;
	padding: .5em;
	text-align: center;
	text-decoration:none;
}
a:hover {
	background:#c12f6d;
	border:3px solid #c12f6d;
	color:#fff;
	transition-duration:.5s;
}
